* {
  font-family: "Quicksand", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

html {
  font-size: 62.5%;
}

.container {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.form-wrapper {
  width: 100rem;
  height: 70rem;
  background-color: #eee;
  border-radius: 3rem;
  box-shadow: 18px 18px 44px 8px rgba(179, 177, 179, 0.73);
  position: relative;
  left: 0;
  top: 0;
}

.banner {
  position: absolute;
  z-index: 1; /* 數字大的覆蓋數字小的 */
  top: 25%;
  left: 5rem;
  text-align: center;
  color: #fff;
  width: 30rem;
}

.banner h1 {
  font-size: 4rem;
  margin-bottom: 2rem;
}

.banner p {
  font-size: 1.5rem;
}

.green-bg {
  width: 40%;
  height: 100%;
  background: linear-gradient(
    to right,
    rgb(150, 148, 203) 5%,
    rgba(187, 179, 224, 1) 36%,
    rgb(195, 186, 222) 50%,
    rgba(207, 178, 240, 1) 100%
  );
  position: absolute;
  left: 0;
  top: 0;
}

.green-bg button {
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translateX(-50%);
  width: 16rem;
  height: 5rem;
  background-color: transparent;
  border: 0.1rem solid #fff;
  border-radius: 50px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 0.15rem;
  cursor: pointer;
}

.signup-form {
  position: absolute;
  width: 60%;
  height: 100%;
  top: 0;
  left: 40rem;
  display: flex;
  flex-direction: column; /* 讓flex水平變垂直 */
  justify-content: space-around;
  align-items: center;
  padding: 10rem 0;
}

.signup-form h1 {
  font-size: 4rem;
  color: rgb(150, 148, 203);
}

.social-media {
  display: flex;
}

.social-media i {
  width: 4rem;
  height: 4rem;
  border: 0.1rem solid rgba(187, 179, 224, 1);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2rem;
  font-size: 2rem;
  color: rgb(150, 148, 203);
}
